.whole{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-items: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #000000;
  background-color: lightgrey;
  height: 40px;
}

.menuButton{
  display: flex;
  align-items: center;
}

.infoWindow{
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  justify-self: center;
  align-self: center;
  padding-top: 10px;
  margin-top: 50px;
  border-width: 20px;
  border: solid;
  border-radius: 15px;
  padding: 30px;
  background-color: black;
}

.outOf{
  color:white;
}

.backButtons{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  order:1;
}

.prev{
  order: 1;
  display:flex; 
  align-items: center;
  justify-content: center;
  order:1;
  background-color:grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}

.fiftyDown{
  order: 2;
  display:flex; 
  align-items: center;
  justify-content: center;
  order:1;
  background-color:grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}

.start{
  order: 3;
  display:flex; 
  align-items: center;
  justify-content: center;
  order:1;
  background-color:grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}

.display{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  order: 2;
  background-color: grey;
  flex-grow: 5;
  margin: 5px;
  border-radius: 5px;
}

.image{
  order:2;
  min-height:auto;
  min-width:405px;
  background-color: bisque;
  justify-self: center;
  margin-top: 10px;
  border-radius: 5px;
}

.textArea{
  order:2;
  border-width: 5px;
  border: solid lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  height: auto
}

.name{
  order: 2;
  min-height: auto;
  min-width: auto;
}

.status{
  order: 3;
  min-height: auto;
  min-width: auto;
}

.forwardButtons{
  order:3;
  display:flex;
  flex-direction: column;
  align-content: space-between;
}

.next{
  order:1;
  display:flex;
  align-items: center;
  justify-content: center;
  order:3;
  background-color: grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}

.fiftyUp{
  order:2;
  display:flex;
  align-items: center;
  justify-content: center;
  order:3;
  background-color: grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}

.end{
  order:3;
  display:flex;
  align-items: center;
  justify-content: center;
  order:3;
  background-color: grey;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  min-width: 40px;
}